<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- brand -->
    <a class="navbar-brand" href="/users">HaPonLa</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- pages -->
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Management
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/books">Book</a></li>
            <li><a class="dropdown-item" href="/categories">Category</a></li>
            <li><a class="dropdown-item" href="/variations">Variation</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="/bills">Bill</a></li>
            <li><a class="dropdown-item" href="#">Discount</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">User</a></li>
            <li><a class="dropdown-item" href="/evaluates">Reply Comment</a></li>
          </ul>
        </li> -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/books">Sách</a></li>
            <li><a class="dropdown-item" href="/categories">Danh mục</a></li>
            <!-- <li><a class="dropdown-item" href="/variations">Variation</a></li> -->
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Order
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/bills">Đơn hàng</a></li>
            <li><a class="dropdown-item" href="/discounts">Giảm giá</a></li>
            <li><a class="dropdown-item" href="/thongKe">Thống kê </a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            User
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/users">Người dùng</a></li>
            <li><a class="dropdown-item" href="/evaluates">Reply Comment</a></li>

          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/admin">About</a>
        </li>
      </ul>

      <div class="d-flex align-items-center">

        <!-- <div class="grid" style="justify-content: center; margin-left: 870px">
          <nav>
            <ul class="header_navbar-list">
              <li class="header_navbar-item">
                <a href="#" class="header_navbar-item-link item-separate">
                  <i class="header_nav-icon bx bxs-bell"></i>
                </a>
              </li>
              <li class="header_navbar-item item-separate">
                <a href="#" class="nav-icon-link">
                  <i class="header_nav-icon bx bxs-help-circle"></i>
                </a>
              </li>
              <li class="header_navbar-item">
                <a href="/users/admin" class="d-flex align-items-center mx-2">
                  <img src="https://cdn-icons-png.flaticon.com/512/6858/6858504.png" width="30px"
                    class="rounded-circle" />
                </a>
              </li>
            </ul>
          </nav>
        </div> -->

        <a href="#"><i class="fa-regular fa-bell"></i></a>
        <a href="/users/admin" class="d-flex align-items-center mx-2">
          <img src="https://cdn-icons-png.flaticon.com/512/6858/6858504.png" width="40px" class="rounded-circle" />
          <!-- Admin  -->
        </a>

      </div>
    </div>
  </div>
</nav>