<select name="<%= selectId %>" class="form-select" aria-label="Default select example" required>
  <% options.forEach(function(item,index){ %>
  <option 
    value="<%= item._id %>" 
    <% if (""+item._id == ""+current) { %>
      selected
    <% } %>>
      <%= item.name %>
    </option>
  <% }) %>
</select>
