<div class="container shadow my-5 px-5 py-4">
    <h2 style="text-align: center; margin-bottom: 40px; margin-top: 30px;">Đổi mật khẩu</h2>
    <div style="margin: auto;">
        <h4>
            <%= msg %>
        </h4>
    </div>
    <div class="formss" style="width: 500px; margin: auto;">

        <form method="post" action="">
            <div class="mb-3">
                <label class="form-label">Mật khẩu cũ</label>
                <input type="password" required name="oldPass" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Mật khẩu mới</label>
                <input type="password" required name="newPass" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Xác nhận mật khẩu mới</label>
                <input type="password" required name="reNewPass" class="form-control">
            </div>

            <button type="submit" class="btn btn-primary">Lưu</button>
        </form>
    </div>
</div>